body{
    font-family: "Comic Sans MS", sans-serif;
}
form{
    background: lightgreen;
    width: 400px;
}
input[type='text']:focus{
    background:green;
}
input[type='password']:focus{
    background: red;
}
input[type='email']:focus{
    background: blue;
}
input{
    color: white;
    border-radius: 5px;
    margin: 5px;
}
.btn{
    color: red;
}
.btn:hover{

    background: lightseagreen;
}
#uid1:focus{
    background: slateblue;
}